<head>
        <link href="../assets/css/templateOne.css" rel="stylesheet" type="text/css"/>
</head>
<div class="resume">
    <div class="base">
        <div class="profile">
            <div class="photo">
                <i class="fas fa-rocket"></i>
            </div>
            <div class="info">
                <h1 class="name">{{name}}</h1>
            </div>
        </div>
        <div class="about">
            <h3>About Me</h3> {{objective}}
        </div>
        <div class="contact">
            <h3>Contact Me</h3>
            <div class="call">
            <span>{{phoneNumber}}</span>
            </div>
            <div class="email">
                <span>{{email}}</span>
            </div>
        </div>
    </div>
    <div class="func">
        <div class="work">
            {{#if employer}}
            <h3><i class="fa fa-briefcase"></i>Experience</h3>
            <ul>
                <li><span>{{title}} -<br>{{employer}}</span><small>{{description}}</small><small>{{jobStart}} -
                        {{jobEnd}}</small></li>
            </ul>
        </div>
        {{/if}}
        {{#if employerB}}
        <ul>
            <li><span>{{title}} -<br>{{employer}}</span><small>{{description}}</small><small>{{jobStart}} -
                    {{jobEnd}}</small></li>
        </ul>
    </div>
    {{/if}}
    {{#if employerC}}
    <ul>
        <li><span>{{title}} -<br>{{employer}}</span><small>{{description}}</small><small>{{jobStart}} -
                {{jobEnd}}</small></li>
    </ul>
</div>
{{/if}}
{{#if school}}
<div class="edu">
    <h3><i class="fa fa-graduation-cap"></i>Education</h3>
    <ul>
        <li><span>{{degree}}<br>{{program}}</span><small>{{startDate}} - {{endDate}}</small></li>
    </ul>
</div>
{{/if}}
{{#if schoolB}}
<div class="edu">
    <ul>
        <li><span>{{degree}}<br>{{program}}</span><small>{{startDate}} - {{endDate}}</small></li>
    </ul>
</div>
{{/if}}
{{#if schoolC}}
<div class="edu">
    <ul>
        <li><span>{{degree}}<br>{{program}}</span><small>{{startDate}} - {{endDate}}</small></li>
    </ul>
</div>
{{/if}}
<div class="skills-prog">
    <h3><i class="fas fa-code"></i>Skills</h3>
    <ul>
        <li><span>{{skills}}</span>
            </span>
        </li>
    </ul>
</div>
<div class="skills-prog">
    <h3><i class="fas fa-code"></i>Awards</h3>
    <ul>
        <li><span>{{Awards}}</span>
            </span>
        </li>
    </ul>
</div>
</div>
</div>