
        <main class="columns">
            <section class="column is-half is-offset-one-quarter formContainer">
                <section>
                    <form class="field">
                        <label class="label">Resume Name</label>
                        <div class="control">
                            <input type="text" id="resumeName" size="30" value="{{resumeName}}"><br><br>
                        </div>
                    </form>
                </section>
                <div class="field is-horizontal columns">
                    <div class="column">
                        <label class="label">Name</label>
                        <div class="control">
                            <input type="text" class="name" size="25" value="{{name}}">
                        </div>
                    </div>
                    <div class="column">
                        <label class="label">Email</label>
                        <div class="control">
                            <input type="text" class="email"size="25" value="{{email}}"><br>
                        </div>
                    </div>
                    <div class="column">
                        <label class="label">Phone Number</label>
                        <div class="control">
                            <input type="text" class="phoneNumber" size="25" value="{{phoneNumber}}"><br>
                        </div>
                    </div>
                </div>
                <section class="objectiveContainer">
                    <form id="objectiveForm">
                        <label class="label">Objective Statement</label>
                        <textarea type="text" class="textarea" id="objective" name="objective" rows="3" cols="20" placeholder="What is your objective?">{{objective}}</textarea><br>
                    </form>
                </section>
                {{#if isSchool}}
                <section class="education" data-index="1">
                    <form id="educationForm" class="field">
                        <label class="label">Education</label>
                        <label class="educationEntries">School</label>
                        <div class="control">
                            <input type="text" class="school" id="school" size="40" value="{{school}}"><br>
                        </div>
                        <label class="educationEntries">Degree</label>
                        <div class="control">
                            <input type="text" class="degree" name="degree" size="40" value="{{degree}}"><br>
                        </div>
                        <div class="field is-horizontal columns">
                            <div class="column">
                                <label class="educationEntries">Start Date</label>
                                <div class="control">
                                    <input type="text" class="startDate" id="startDate" size="40" value="{{startDate}}">
                                </div>
                            </div>
                            <div class="column">
                                <label class="educationEntries">End Date</label>
                                <div class="control">
                                    <input type="text" class="endDate" id="endDate" size="40" value="{{endDate}}"><br>
                                </div>
                            </div>
                        </div>
                        <label class="educationEntries">Program</label>
                        <div class="control">
                            <input type="text" class="program" id="program" size="40" value="{{program}}"><br>
                        </div>
                    </form>
                </section>
                {{/if}}
                {{#if isSchoolB}}
                <section class="educationB" data-index="1">
                    <form id="educationForm" class="field">
                        <label class="label">Education</label>
                        <label class="educationEntries">School</label>
                        <div class="control">
                            <input type="text" class="school" id="schoolB" size="40" value="{{schoolB}}"><br>
                        </div>
                        <label class="educationEntries">Degree</label>
                        <div class="control">
                            <input type="text" class="degree" id="degreeB" size="40" value="{{degreeB}}"><br>
                        </div>
                        <div class="field is-horizontal columns">
                            <div class="column">
                                <label class="educationEntries">Start Date</label>
                                <div class="control">
                                    <input type="text" class="schoolStartDate" id="startDateB" size="40" value="{{startDateB}}">
                                </div>
                            </div>
                            <div class="column">
                                <label class="educationEntries">End Date</label>
                                <div class="control">
                                    <input type="text" class="schoolEndDate" id="endDateB" size="40" value="{{endDateB}}"><br>
                                </div>
                            </div>
                        </div>
                        <label class="educationEntries">Program</label>
                        <div class="control">
                            <input type="text" class="program" id="programB" size="40" value="{{programB}}"><br>
                        </div>
                    </form>
                </section>
                {{/if}}
                {{#if isSchoolC}}
                <section class="educationB" data-index="1">
                    <form id="educationForm" class="field">
                        <label class="label">Education</label>
                        <label class="educationEntries">School</label>
                        <div class="control">
                            <input type="text" class="school" id="schoolC" size="40" value="{{schoolB}}"><br>
                        </div>
                        <label class="educationEntries">Degree</label>
                        <div class="control">
                            <input type="text" class="degree" id="degreeC" size="40" value="{{degreeB}}"><br>
                        </div>
                        <div class="field is-horizontal columns">
                            <div class="column">
                                <label class="educationEntries">Start Date</label>
                                <div class="control">
                                    <input type="text" class="schoolStartDate" id="startDateC" size="40" value="{{startDateB}}">
                                </div>
                            </div>
                            <div class="column">
                                <label class="educationEntries">End Date</label>
                                <div class="control">
                                    <input type="text" class="schoolEndDate" id="endDateC" size="40" value="{{endDateB}}"><br>
                                </div>
                            </div>
                        </div>
                        <label class="educationEntries">Program</label>
                        <div class="control">
                            <input type="text" class="program" id="programC" size="40" value="{{programB}}"><br>
                        </div>
                    </form>
                </section>
                {{/if}}
                {{#if isEmployer}}
                <section class="experience" data-index="1">
                    <form id="experienceForm">
                        <label class="label">Experience</label>
                        <label class="experienceEntries">Employer</label>
                        <div class="control">
                            <input type="text" class="employer" id="employer" size="40" value="{{employer}}"><br>
                        </div>

                        <label class="experienceEntries">Job Title</label>
                        <div class="control">
                            <input type="text" class="jobTitle" id="jobTitle" size="40" value="{{title}}"><br>
                        </div>
                        <div class="field is-horizontal columns">
                            <div class="column">
                                <label class="experienceEntries">Start Date</label>
                                <div class="control">
                                    <input type="text" class="jobStart" id="jobStartDate" size="40" value="{{jobStart}}">
                                </div>
                            </div>
                            <div class="column">
                                <label class="experienceEntries">End Date</label>
                                <div class="control">
                                    <input type="text" class="jobEnd" id="jobEndDate" size="40" value="{{jobEnd}}"><br>
                                </div>
                            </div>
                        </div>
                        

                        <label class="experienceEntries">Description</label>
                        <div class="control">
                            <textarea type="text" class="textarea description" id="description" rows="5" cols="50">{{description}}</textarea><br>
                        </div>
                    </form>
                    
                </section>
                {{/if}}
                {{#if isEmployerB}}
                <section class="experienceB" data-index="1">
                    <form id="experienceForm">
                        <label class="label">Experience</label>
                        <label class="experienceEntries">Employer</label>
                        <div class="control">
                            <input type="text" class="employer" id="employerB" size="40" value="{{employerB}}"><br>
                        </div>

                        <label class="experienceEntries">Job Title</label>
                        <div class="control">
                            <input type="text" class="jobTitle" id="titleB" size="40" value="{{titleB}}"><br>
                        </div>
                        <div class="field is-horizontal columns">
                            <div class="column">
                                <label class="experienceEntries">Start Date</label>
                                <div class="control">
                                    <input type="text" class="jobStartDate" id="jobStartB" size="40" value="{{jobStartB}}">
                                </div>
                            </div>
                            <div class="column">
                                <label class="experienceEntries">End Date</label>
                                <div class="control">
                                    <input type="text" class="jobEndDate" id="jobEndB" size="40" value="{{jobEndB}}"><br>
                                </div>
                            </div>
                        </div>
                    
                        <label class="experienceEntries">Description</label>
                        <div class="control">
                            <textarea type="text" class="textarea description" id="descriptionB" rows="5" cols="50">{{descriptionB}}</textarea><br>
                        </div>
                    </form>
                    
                </section>
                {{/if}}
                {{#if isEmployerC}}
                <section class="experienceC" data-index="1">
                    <form id="experienceForm">
                        <label class="label">Experience</label>
                        <label class="experienceEntries">Employer</label>
                        <div class="control">
                            <input type="text" class="employer" id="employerC" size="40" value="{{employerC}}"><br>
                        </div>

                        <label class="experienceEntries">Job Title</label>
                        <div class="control">
                            <input type="text" class="jobTitle" id="titleC" size="40" value="{{titleC}}"><br>
                        </div>
                        <div class="field is-horizontal columns">
                            <div class="column">
                                <label class="experienceEntries">Start Date</label>
                                <div class="control">
                                    <input type="text" class="jobStartDate" id="jobStartC" size="40" value="{{jobStartC}}">
                                </div>
                            </div>
                            <div class="column">
                                <label class="experienceEntries">End Date</label>
                                <div class="control">
                                    <input type="text" class="jobEndDate" id="jobEndC" size="40" value="{{jobEndC}}"><br>
                                </div>
                            </div>
                        </div>
                    
                        <label class="experienceEntries">Description</label>
                        <div class="control">
                            <textarea type="text" class="textarea description" id="descriptionC" rows="5" cols="50">{{descriptionC}}</textarea><br>
                        </div>
                    </form>
                </section>
                {{/if}}
                <button type="button" id="addExperience">Add Experience</button><br><br>
                {{#if isProject}}
                <section class="project" data-index="1">
                    <form id="projectForm">
                        <label class="label">Projects</label>
                        <label class="projectEntries">Project Title</label>
                        <input type="text" class="projectTitle" id="project" size="40" value="{{project}}"><br><br>

                        <label>Project Description</label>
                        <textarea type="text" class="textarea" class="summary" id="summary" rows="5" cols="50">{{summary}}</textarea><br>
                    </form>
                </section>
                {{/if}}
                {{#if isProjectB}}
                <section class="projectB" data-index="1">
                    <form id="projectForm">
                        <label class="label">Projects</label>
                        <label class="projectEntries">Project Title</label>
                        <input type="text" class="projectTitle" id="projectB" size="40" value="{{projectB}}"><br><br>

                        <label>Project Description</label>
                        <textarea type="text" class="textarea" class="projectDescription" id="summaryB" rows="5" cols="50">{{summaryB}}</textarea><br>
                    </form>
                </section>
                {{/if}}
                {{#if isProjectC}}
                <section class="projectC" data-index="1">
                    <form id="projectForm">
                        <label class="label">Projects</label>
                        <label class="projectEntries">Project Title</label>
                        <input type="text" class="projectTitle" id="projectC" size="40" value="{{projectC}}"><br><br>

                        <label>Project Description</label>
                        <textarea type="text" class="textarea" class="projectDescription" id="summaryC" rows="5" cols="50">{{summaryC}}</textarea><br>
                    </form>
                </section>
                {{/if}}
                <button type="button" id="addProject">Add Another Project</button><br><br>
                <section class="skills">
                    <form id="skillsform">
                        <label class="label">Skills</label>
                        <textarea type="text" class="textarea" id="skills" name="skills" rows="5" cols="30">{{skills}}</textarea>
                    </form>
                </section>
                <section class="awards">
                    <form id="awardsForm">
                        <label class="label">Awards</label>
                        <textarea type="text" class="textarea" id="awards" name="awards" rows="5" cols="30">{{awards}}</textarea>
                    </form>
                </section>
                
                <div class="field is-grouped is-grouped-right">
                    <p>
                        <a class="button is-primary" data-id="{{id}}" id="updateButton">
                            Update Resume
                        </a>
                    </p>
                    <p class="control">
                        <a class="button is-light" id="cancel">
                            Cancel
                        </a>
                    </p>
                </div>
            </section>
        </main>
        

