<div class="resume">
    <div class="base">
        <div class="profile">
            <div class="photo">
                <!--<img src="" /> -->
                <i class="fas fa-rocket"></i>
            </div>
            <div class="info">
                <h1 class="name">{{name}}</h1>
            </div>
        </div>
        <div class="about">
            <h3>About Me</h3> {{objective}}
        </div>
        <div class="contact">
            <h3>Contact Me</h3>
            <div class="call"><a href="tel:123-456-7890"><i class="fas fa-phone"></i><span>{{phoneNumber}}</span></a>
            </div>
            <div class="email"><a href="mailto:astronaomical@gmail.com"><i
                        class="fas fa-envelope"></i><span>{{email}}</span></a></div>
        </div>
    </div>
    <div class="func">
        <div class="work">
            {{#if employer}}
            <h3><i class="fa fa-briefcase"></i>Experience</h3>
            <ul>
                <li><span>{{title}} -<br>{{employer}}</span><small>{{description}}</small><small>{{jobStart}} -
                        {{jobEnd}}</small></li>
            </ul>
        </div>
        {{/if}}
        {{#if employerB}}
        <h3><i class="fa fa-briefcase"></i>Experience</h3>
        <ul>
            <li><span>{{title}} -<br>{{employer}}</span><small>{{description}}</small><small>{{jobStart}} -
                    {{jobEnd}}</small></li>
        </ul>
    </div>
    {{/if}}
    {{#if employerC}}
    <h3><i class="fa fa-briefcase"></i>Experience</h3>
    <ul>
        <li><span>{{title}} -<br>{{employer}}</span><small>{{description}}</small><small>{{jobStart}} -
                {{jobEnd}}</small></li>
    </ul>
</div>
{{/if}}
{{#if school}}
<div class="edu">
    <h3><i class="fa fa-graduation-cap"></i>Education</h3>
    <ul>
        <li><span>{{degree}}<br>{{program}}</span><small>{{startDate}} - {{endDate}}</small></li>
    </ul>
</div>
{{/if}}
{{#if schoolB}}
<div class="edu">
    <h3><i class="fa fa-graduation-cap"></i>Education</h3>
    <ul>
        <li><span>{{degree}}<br>{{program}}</span><small>{{startDate}} - {{endDate}}</small></li>
    </ul>
</div>
{{/if}}
{{#if schoolC}}
<div class="edu">
    <h3><i class="fa fa-graduation-cap"></i>Education</h3>
    <ul>
        <li><span>{{degree}}<br>{{program}}</span><small>{{startDate}} - {{endDate}}</small></li>
    </ul>
</div>
{{/if}}
<div class="skills-prog">
    <h3><i class="fas fa-code"></i>Programming Skills</h3>
    <ul>
        {{#each skills}}
        <li data-percent="95"><span>{{skills}}</span>
            <div class="skills-bar">
                <div class="bar"></div>
            </div>
        </li>
        {{/each}}
    </ul>
</div>
</div>
</div>